@import 'base.css';
@import 'fonts.css';
/* Custom CSS files imports here */
@import 'tailwindcss/components';
@import 'utilities.css';

@layer components {
  .btn-gradient {
    background: transparent linear-gradient(99deg, #d941cc 0%, #5736de 100%) 0%
      0% no-repeat padding-box;
  }
  .hero-pattern {
    background: transparent url('../assets/sign-up-bg@2x.png') 0% 0% no-repeat
      padding-box;
    mix-blend-mode: multiply;
  }
}

@layer utilities {
  .hide-scrollbar {
    @apply overflow-auto;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
